# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Output of the go coverage tool
*.coverprofile

# Output directory for Go build
/bin/
/pkg/

# Configuration files for IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# macOS specific files
.DS_Store

# Logs
*.log
*.out

# Others
.env
.env.local
.secret
